@import url('/reset.css');

html, body {
  font-size: 11px;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  color: #333;
  line-height: 16px; }

h1 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }
h2 {
  font-size: 1.1em;
  margin-bottom: 0.8em; }

label {
  cursor: pointer;
  color: #666;
  font-weight: bold;
  vertical-align: text-top;
  margin-right: 2%;
  text-align: right;
  width: 20%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  top: -3px;
  &.checkbox-adjacent {
    text-align: left;
    font-weight: normal;
    margin-left: 10px;
    top: 0; }
  &.adjacent-checkboxes {
    vertical-align: top;
    top: 0; } }

input {
  &[type=checkbox] {
    margin-bottom: 7px;
    vertical-align: baseline; }
  &[type=text], &[type=email] {
    border: 1px solid #BDC7D8;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    padding: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 75%;
    margin-bottom: 11px; } }

select {
  font-size: 11px;
  margin-bottom: 12px;
  border: 1px solid #BDC7D8;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  padding: 2px; }

button {
  border-style: solid;
  border-width: 1px;
  border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
  background-color: #3B5998;
  color: white;
  padding: 2px 10px;
  text-align: center;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  margin-left: 22.5%;
  background-image: url('https://s-static.ak.facebook.com/rsrc.php/v1/zg/r/wBBYAgOjf8k.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #5B74A8;
  border-color: #29447E #29447E #1A356E;
  font-weight: bold;
  margin-top: 10px;
  &:active {
    background: #3c5293; }
  &[disabled], &.disabled {
    background-color: #ddd !important;
    background-image: none !important;
    border-color: #c4c4c4 !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.65) !important;
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.65) !important;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.65) !important;
    color: #acacac !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) !important;
    -webkit-animation: none !important;
    -webkit-transition-duration: 0 !important; } }

div.error {
  background-color: #fbe5b9;
  color: #a48b5e;
  padding: 7px 9px;
  margin-bottom: 13px;
  font-weight: 500;
  text-shadow: none;
  margin-left: 22.5%;
  position: relative;
  margin-top: -4px;
  &:before {
    content: "";
    display: block;
    /* reduce the damage in FF3.0 */
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fbe5b9 transparent;
    border-width: 0 3px 3px;
    /* vary these values to change the angle of the vertex */
    top: -3px;
    left: 20px;
    margin-left: -10px;
    z-index: 20; } }

fieldset {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 66%; }

.success {
  background: #d4e2c3 url('/img/small-green-tick.png') no-repeat 15px 12px;
  color: #72904c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  padding: 12px 14px 16px;
  padding-left: 8%;
  width: 60%;
  top: 20%;
  left: 50%;
  margin-left: -35%;
  position: absolute;
  z-index: 20;
  border: 1px solid #abc48a;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.3;
  display: none;
  h2 {
    margin-bottom: 5px; } }

.subscribe-error {
  background-color: #FBE5B9;
  color: #A48B5E;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  padding: 12px 14px 16px;
  top: 20%;
  left: 50%;
  margin-top: 16px;
  margin-left: 22.5%;
  border: 1px solid #A48B5E;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.3;
  display: none;
  h2 {
    margin-bottom: 5px; } }

.grey {
  background-color: #F2F2F2;
  border-bottom: none;
  border-top: solid 1px #E2E2E2;
  padding: 4px 5px 5px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.greyh2 {
  color: #333;
  font-size: 11px; }

.grey {
  img {
    display: inline-block;
    margin-top: 20px;
    margin-left: 60px; }
  p {
    margin: 15px 20px; } }

.step {
  img {
    position: absolute;
    z-index: 20; }
  &.one img {
    top: 0;
    left: 8px; }
  p {
    background-color: #d8e5ef;
    padding: 7px 9px;
    margin-bottom: 13px;
    text-shadow: none;
    margin-left: 60px;
    position: relative;
    margin-top: -4px;
    position: relative;
    strong:first-child {
      color: #5583a6; }
    &:before {
      content: "";
      display: block;
      /* reduce the damage in FF3.0 */
      position: absolute;
      width: 0;
      height: 0;
      border-width: 3px 4px;
      border-style: solid;
      border-color: transparent;
      border-right-color: #d8e5ef;
      top: 13px;
      left: -8px;
      margin-top: -1px;
      z-index: 19; } } }

.nav {
  border-bottom: 1px solid #898989;
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  li {
    display: inline;
    padding: 2px 0 3px;
    background: #f1f1f1 url('https://s-static.ak.facebook.com/rsrc.php/v1/zs/r/YoX0fw76s5z.gif') top left repeat-x;
    position: relative;
    top: 1px;
    &.selected {
      border-left: 1px solid #36538F;
      border-right: 1px solid #5973A9; }
    a {
      border: 1px solid #898989;
      border-left: 0;
      color: #333;
      font-weight: bold;
      padding: 2px 8px 3px 9px;
      display: inline-block; }
    &.selected a {
      background: #6D84B4;
      border: 1px solid #3B5998;
      color: white;
      margin-right: -1px; } } }
