@import "/reset.css";

$main-bg-colour: #fff;
$main-font-colour: #000;
$error-bg-colour: #ffebe8;
$error-border-colour: #dd3c10;
$info-bg-colour: #fff9d7;
$info-border-colour: #e2c822;

html, body {
  font: {
    family: "lucida grande", tahoma, verdana, arial, sans-serif;
    size: 13px;
  }
  background: $main-bg-colour;
  color: $main-font-colour;
}

h1 { font-size: 2.8em; margin: 8px 0 12px 0; }
h2 { font-size: 1.6em; margin: 8px 0 12px 0; }
h3 { font-size: 1.2em; margin: 8px 0; }
p, div { margin: 8px 0; }

.messagebox {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
}

.infomessagebox {
  background-color: $info-bg-colour;
  border-color: $info-border-colour;
}

.errormessagebox {
  background-color: $error-bg-colour;
  border-color: $error-border-colour;
}

#container {
  margin: 0 auto;
}
