- if ["Text", "Date"].include? type
  %label&=name
  %input{:name => att_friendly_key(key), :id => att_friendly_key(key), :type => :text}
- elsif type == "MultiSelectOne"
  %label&=name
  %fieldset
    %select{:name => att_friendly_key(key), :id => att_friendly_key(key)}
      - options.split(',').each do |o|
        %option{:value => o}&=o
- elsif type == "MultiSelectMany"
  %label.adjacent-checkboxes&=name
  %fieldset
    - options.split(',').each do |o|
      %input{:name => "#{att_friendly_key(key)}", :value => o, :type => :checkbox}/
      %label.checkbox-adjacent{:for => "#{att_friendly_key(key)}"}&=o
      %br/