<script id="list-options-template" type="text/x-handlebars-template">
  <option value="nothing">Choose a list</option>
  {{#each lists}}
  <option value="{{ListID}}">{{Name}}</option>
  {{/each}}
</script>