<script id="client-options-template" type="text/x-handlebars-template">
  <option value="nothing"><em>Choose a client</em></option>
  {{#each clients}}
  <option value="{{ClientID}}">{{Name}}</option>
  {{/each}}
</script>
<script id="list-options-template" type="text/x-handlebars-template">
  <option value="nothing">Choose a list</option>
  {{#each lists}}
  <option value="{{ListID}}">{{Name}}</option>
  {{/each}}
</script>
<script id="list-fields-template" type="text/x-handlebars-template">
  <input type="checkbox" id="email" name="email" value="email" checked="checked" disabled="disabled" />
  <label class="checkbox-adjacent" for="email">Email address</label>
  <br/>
  <input type="checkbox" id="name" name="name" value="name" checked="checked" disabled="disabled" />
  <label class="checkbox-adjacent" for="name">Name</label>
  <br/>
  {{#if fields}}
    {{#each fields}}
    <input type="checkbox" id="{{attFriendlyKey Key}}" name="{{attFriendlyKey Key}}" value="{{attFriendlyKey Key}}"/>
    <label class="checkbox-adjacent" for="{{attFriendlyKey Key}}">{{FieldName}} ({{DataType}})</label>
    <br/>
    {{/each}}
  {{/if}}
</script>