%h2="Campaign Monitor Subscribe Forms"
%p="Easily add Campaign Monitor subscribe forms to your Facebook pages"

- if @pages
  %div="You can add a subscribe form to the following pages:"
  - @pages.each do |p|
    %div
      %a{:href => "/page/#{p.id}"}="#{p.name} (#{p.category})"