!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %title
    %link{:href => versioned_stylesheet('cm'), :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
    %meta{:name => "description", :content => "Easily add subscribe forms to your Facebook pages"}
    
  %body
    #container
      #content= yield
