!!!
%html
  %head
    %title="Campaign Monitor Subscription"
    %link{:href => "/screen.css?v=#{media_version}", :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #container
      #content= yield
