%h2="Campaign Monitor Subscribe Forms"
%h3&=@page.name
%div
  %a{:href => "/"}="Back to my pages"
  =" | "
  - if !@page.has_added_app
    %a{:href => "http://www.facebook.com/add.php?api_key=#{@api_key}&pages=1&page=#{@page.id}", :target => "_blank"}="Add Subscribe tab"
  - else
    ="Subscribe tab already added"

- if @sf
  :javascript
    $(document).ready(function() {
      $("#first-step").hide();
      $("#lists").hide();
      $("#clients").hide();
      $("#list-options").show();
      $("#custom-fields").show();
    });
- else
  :javascript
    $(document).ready(function() {
      $("#first-step").show();
    });

#edit-form
  %p
    ="You're creating a subscribe form for "
    %a{:href => @page.link, :target => "_blank"}=@page.name
  #message{:class => "errormessagebox messagebox"}

  %form{:id => :page}
    #first-step
      %p
        ="Please enter your Campaign Monitor API Key:"
        %input{:type => :text, :name => :apikey, :id => :apikey, :value => @sf ? @sf.api_key : ''}
      %p
        %a{:id => "get-clients", :class => :button, :href => "#"}="Get clients"

    #clients
      %p="Please select a client for whom you'd like to create your subscribe form:"
      #clients-list

    #lists
      %p="Please select a list for which you'd like to create your subscribe form:"
      #lists-list

    #list-options
      - if @sf
        %p
          %a{:id => :from_scratch, :href => "#"}="Start building this subscribe form from scratch."
      - if @sf and @sf.errors.length > 0
        %div{:id => :form_error, :class => "errormessagebox messagebox"}
          %ul{:class => 'errors'}
            - @sf.errors.each do |e|
              %li=e
      %p
        ="Intro message:"
        %input{:type => :text, :size => 60, :name => :intro_message, :id => :intro_message, :value => @sf ? @sf.intro_message : default_intro_message}
      %p
        ="Thanks message:"
        %input{:type => :text, :size => 60, :name => :thanks_message, :id => :thanks_message, :value => @sf ? @sf.thanks_message : default_thanks_message}
      %input{:type => :hidden, :name => :listid, :id => :listid, :value => @sf ? @sf.list_id : ''}

      #custom-fields
        %div="Select any custom fields you'd like to include in your subscribe form:"
        #custom-fields-list
          - if @sf and @fields
            - @fields.each do |cf|
              %p
                %input{:id => att_friendly_key(cf.Key), :name => att_friendly_key(cf.Key), :type => :checkbox, :value => att_friendly_key(cf.Key), :checked => !@applied_fields.index(att_friendly_key(cf.Key)).nil? && "checked"}
                %label{:for => att_friendly_key(cf.Key)}&="#{cf.FieldName} (#{cf.DataType})"
      %p
        %a{:id => :save, :class => :button, :page_id => @page.id, :href => "#"}="Save Subscribe Form"
