- if @sf
  %div=@sf.intro_message
  - if @error_message
    %div{:id => :subscribe_error, :class => "errormessagebox messagebox"}=@error_message
  - if @confirmation_message
    %div{:id => :subscribe_confirmation, :class => "infomessagebox messagebox"}=@confirmation_message

  %form{:id => :subscribe, :method => :post, :action => "/subscribe/#{@page_id}"}
    %p
      ="Name:"
      %input{:type => :text, :name => :name, :id => :name, :value => (@name if @name)}
    %p
      ="Email:"
      %input{:type => :text, :name => :email, :id => :email, :value => (@email if @email)}
    - if @fields
      - @fields.each do |f|
        %p
          =f.name
          %br
          =partial :custom_field, {:type => f.data_type, :key => f.field_key, :options => f.field_options}
    %p
      %input{:type => :submit, :value => "Subscribe"}

- else
  %div{:class => "infomessagebox messagebox"}="This page hasn't had a subscribe form set up yet."