@import url(reset.css);

body, html {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

html {
  background: #f7f7f7;
}



/* Stock CM styles from pretty.css */ 

button, .button {
  font-style: normal !important;
  font-weight: bold;
  color: #8f8f8f;
  text-decoration: none !important;
  display: block;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  font-size: 14px;
  padding: .3em .85em .35em;
  background-color: #f4f4f4;
  /* Use background-images like transparent gradient overlays, instead of using solid colours.
     Helps if you want to change the base colour in a later class. */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
    from( rgba(255,255,255,0) ),
    to( rgba(0,0,0,.03) )
  );
  background-image: -moz-linear-gradient(0% 100% 90deg, 
    rgba(255,255,255,0), 
    rgba(0,0,0,.03)
  );
  border: 1px solid #ccc;
  -webkit-box-shadow: 
    inset 0 1px 0 0 rgba(255,255,255,0.8), /* 1px shine */
    inset 0 0 1px 1px rgba(255,255,255,.1), /* Inner glow */
          0 1px 1px rgba(0,0,0,.06) /* Drop shadow */
   ;
  -moz-box-shadow: 
   inset 0 1px 0 0 rgba(255,255,255,0.8), /* 1px shine */
   inset 0 0 1px 1px rgba(255,255,255,.1), /* Inner glow */
         0 1px 1px rgba(0,0,0,.06)  /* Drop shadow */
  ;
  box-shadow: 
    inset 0 1px 0 0 rgba(255,255,255,0.8), /* 1px shine */
    inset 0 0 1px 1px rgba(255,255,255,.1), /* Inner glow */
          0 1px 1px rgba(0,0,0,.06)  /* Drop shadow */
  ;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif !important;
  cursor: pointer;
  -webkit-transition: background-color .5s ease;
  -moz-transition: background-color .5s ease; 
  transition: background-color .5s ease;
}

  button:hover,
  .button:hover {
    background-color: #F8F8F8;
    -webkit-transition-duration: .05s;
  }
  
  button:active,
  .button:active {
    position: relative;
    top: 1px;
    -webkit-box-shadow: 
      inset 0 1px 1px 0 rgba(0,0,0,.09), /* 1px shadow */
      inset 0 0 1px 1px rgba(255,255,255,.2), /* Inner glow */
            0 1px 1px rgba(255,255,255,.65) /* Drop shadow */
     ;
     -moz-box-shadow: 
       inset 0 1px 1px 0 rgba(0,0,0,.09), /* 1px shadow */
       inset 0 0 1px 1px rgba(255,255,255,.2), /* Inner glow */
             0 1px 1px rgba(255,255,255,.65) /* Drop shadow */
      ;
      box-shadow: 
        inset 0 1px 1px 0 rgba(0,0,0,.09), /* 1px shadow */
        inset 0 0 1px 1px rgba(255,255,255,.2), /* Inner glow */
              0 1px 1px rgba(255,255,255,.65) /* Drop shadow */
       ;
     opacity: .9;
  }
  
  
  /* Use classes to assign particular overrides.
     Keep the default generous. */
  button.small {
    font-size: 12px;
    padding: 2px 6px;
  }
  
  button.primary {
    background-color: #6aae53;
    /* Keep the top gradient transparent so one can apply easy background-color changes. */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
      from( rgba(71, 148, 56, 0) ),
      to( rgba(66, 143, 51, 1) )
    );
    background-image: -moz-linear-gradient(0% 100% 90deg, 
      rgba(71, 148, 56, 0), 
      rgba(66, 143, 51, 1)
    );
    border-color: #3a7725;
    border-top-color: #49922f;
    -webkit-box-shadow: 
      inset 0 1px 0 0 rgba(255,255,255,0.15), /* 1px shine */
      inset 0 0 1px 1px rgba(255,255,255,.1), /* Inner glow */
            0 1px 1px rgba(0,0,0,.06) /* Drop shadow */
     ;
     -moz-box-shadow: 
       inset 0 1px 0 0 rgba(255,255,255,0.15), /* 1px shine */
       inset 0 0 1px 1px rgba(255,255,255,.1), /* Inner glow */
             0 1px 1px rgba(0,0,0,.06) /* Drop shadow */
     ;
     box-shadow: 
       inset 0 1px 0 0 rgba(255,255,255,0.15), /* 1px shine */
       inset 0 0 1px 1px rgba(255,255,255,.1), /* Inner glow */
             0 1px 1px rgba(0,0,0,.06) /* Drop shadow */
     ;
     color: #fefefe;
     text-shadow: 
       0 1px 1px #488739,
       0 0 5px rgba(255,255,255,0);
     -webkit-font-smoothing: antialiased;
     -webkit-animation-name: glow;
     -webkit-animation-duration: 2s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-background-clip: padding-box;
     }
     
         @-webkit-keyframes glow {
           from {
             text-shadow: 
               0 1px 1px #488739,
               0 0 5px rgba(255,255,255,.6);    
           }
           50% {
             text-shadow: 
               0 1px 1px #488739,
               0 0 5px rgba(255,255,255,0);
           }
           to {
             text-shadow: 
               0 1px 1px #488739,
               0 0 5px rgba(255,255,255,.6);    
           }
         }
  
    button.primary:hover {
      background-color: #63b945;
    }
    
    button.primary:active {
      -webkit-box-shadow: 
        inset 0 1px 1px 0 rgba(0,0,0,.2), /* Inner shadow */
        inset 0 0 1px 1px rgba(255,255,255,.1), /* Inner glow */
              0 1px 1px rgba(255,255,255,.7) /* Drop shadow */
       ;
       border-top-color: #3a7725;
       -webkit-animation-name: none !important;
       background-color: #6aae53;
    }
    
  button[disabled], button.disabled {
    background-color: #ddd !important;
    background-image: none !important;
    border-color: #c4c4c4 !important;
    -webkit-box-shadow: 
      inset 0 1px 0 rgba(0,0,0,.08),
            0 1px 0 rgba(255,255,255,.65)
      !important;
    -moz-box-shadow: 
      inset 0 1px 0 rgba(0,0,0,.08),
            0 1px 0 rgba(255,255,255,.65)
      !important;
    box-shadow: 
      inset 0 1px 0 rgba(0,0,0,.08),
            0 1px 0 rgba(255,255,255,.65)
      !important;
    color: #acacac !important;
    text-shadow: 0 1px 1px rgba(255,255,255,.2) !important;
    -webkit-animation: none !important;
    -webkit-transition-duration: 0 !important;
  }
  
input[type=text],
input[type=email],
input[type=password] {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #434343;
  border:  solid 1px #d5d5d5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 7px 6px;
  -webkit-box-shadow: 
          0 1px 1px rgba(255,255,255,.45),
          0 0 2px rgba(74, 139, 217, 0),
    inset 0 1px 2px rgba(0,0,0,.08);
  -webkit-transition: border-color .8s ease, -webkit-box-shadow 2s ease;
}

  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #aec7df;
    -webkit-box-shadow: 
            0 1px 1px rgba(255,255,255,.45),
            0 0 2px rgba(74, 139, 217, .3),
      inset 0 1px 2px rgba(0,0,0,.08);
    -webkit-transition-duration: .05s, .05s;
  }
  
  ::-webkit-input-placeholder { color: rgba(0,0,0,.2); }
  input:-moz-placeholder { color: rgba(0,0,0,.2); }
  
label {
        text-align: right;      margin-right: 10px;      font-weight: 500;      color: #b5b5b5;
}
  
/* Select for Uniform.js */

div.selector {
  position: relative;
  font-style: normal !important;
  font-weight: 500;
  color: #8f8f8f;
  text-decoration: none !important;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  font-size: 1em;
  padding: .4em .8em;
  background-color: #fbfbfb;
  /* Use background-images like transparent gradient overlays, instead of using solid colours.
     Helps if you want to change the base colour in a later class. */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
    from( rgba(255,255,255,0) ),
    to( rgba(0,0,0,.04) )
  );
  background-image: -moz-linear-gradient(0% 100% 90deg, 
    rgba(255,255,255,0), 
    rgba(0,0,0,.04)
  );
  border: 1px solid #ccc;
  -webkit-box-shadow: 
    inset 0 1px 0 0 rgba(255,255,255,1), /* 1px shine */
    inset 0 0 1px 1px rgba(255,255,255,.5), /* Inner glow */
          0 1px 1px rgba(0,0,0,.06) /* Drop shadow */
   ;
  -webkit-border-radius: 3px;
  -webkit-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif !important;
  cursor: pointer;
  -webkit-transition: background-color .5s ease;
  -moz-transition: background-color .5s ease; 
  transition: background-color .5s ease;
}

div.selector:after {
  content: '';
  display: block;
  top: 0px;
  right: 3px;
	position: absolute;
	width: 20px;
	height: 100%;
	background: url(../img/dropdown_arrow.png) no-repeat center center;
	cursor: pointer;
}

div.selector span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 28px;
}

div.selector select {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 110%;
  font-size: 1em;
  padding: .4em .8em;
  -webkit-appearance: none;
  cursor: pointer;
  z-index: 20;
}

header {
  background-color: #ebebeb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#d4d4d4));
  background-image: -moz-linear-gradient(270deg, #ebebeb 0%, #d4d4d4 100%);
  border-bottom: 1px solid #c9c9c9;
  padding: 0 20px;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

  header h1 {
    height: 28px;
    width: 211px;
    text-indent: -9999px;
    background: url(../img/cm.png) no-repeat;
    margin: 15px 0;
    float: left;
  }
  
  header h1.cs {
    height: 28px;
    width: 211px;
    text-indent: -9999px;
    background: url(../img/cm-cs.png) no-repeat;
    margin: 15px 0;
    float: left;
  }
  
  header button, header > button:hover {
    font-size: 12px;
    background-image: -moz-linear-gradient(270deg, 
          rgba(255,255,255,.3) 20%,
          rgba(255,255,255,0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom,
      color-stop(.2, rgba(255,255,255,.3)),
      color-stop(1, rgba(255,255,255,0))
    );
    background-color: #a4a4a4;
    border: solid 1px #a4a4a4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 17px;
    color: #ececec;
    text-shadow: 0 -1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow:
      inset 0 1px 1px rgba(255,255,255,.2),
      inset 0 0 1px rgba(255,255,255,.2),
            0 1px 1px rgba(255,255,255,.2);
    -moz-box-shadow:
      inset 0 1px 1px rgba(255,255,255,.2),
      inset 0 0 1px rgba(255,255,255,.2),
            0 1px 1px rgba(255,255,255,.2);
    box-shadow:
      inset 0 1px 1px rgba(255,255,255,.2),
      inset 0 0 1px rgba(255,255,255,.2),
            0 1px 1px rgba(255,255,255,.2);
    padding: 3px 7px;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  
    header button:active, header button.selected {
      -webkit-box-shadow:
        inset 0 1px 0px rgba(0,0,0,.1),
        inset 0 0 1px rgba(255,255,255,.2),
              0 1px 1px rgba(255,255,255,.6);
      -moz-box-shadow:
        inset 0 1px 0px rgba(0,0,0,.1),
        inset 0 0 1px rgba(255,255,255,.2),
              0 1px 1px rgba(255,255,255,.6);
      box-shadow:
        inset 0 1px 0px rgba(0,0,0,.1),
        inset 0 0 1px rgba(255,255,255,.2),
              0 1px 1px rgba(255,255,255,.6);
      top: 1px;
      background-color: #a0a0a0;
    }
  
    header button.sign-in {
      float: right;
    }
    
  header .context-box {
    display: block;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 
            0 2px 2px rgba(0,0,0,.15),
            0 -1px 1px rgba(0,0,0,.05),
      inset 0 2px 0 rgba(255,255,255,.8);
    -moz-box-shadow: 
            0 2px 2px rgba(0,0,0,.15),
            0 -1px 1px rgba(0,0,0,.05),
      inset 0 2px 0 rgba(255,255,255,.8);
    box-shadow: 
            0 2px 2px rgba(0,0,0,.2),
            0 -1px 1px rgba(0,0,0,.05),
      inset 0 2px 0 rgba(255,255,255,.8),
      inset 0 -1px 0 rgba(255,255,255,.3)
      ;
    background-image: -moz-linear-gradient(270deg, 
          rgba(255,255,255,0) 20%,
          rgba(0,0,0,.01) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom,
      color-stop(.2, rgba(255,255,255,0)),
      color-stop(1, rgba(0,0,0,.01))
    );
    padding: 12px;
    font-size: 13px;
    text-shadow: 0 1px 0 rgba(255,255,255,.65);
  }
  
    .ie .context-box {
      border: solid 1px #bbb;
    }
    
    header .context-box.sign-in {
      width: 320px;
      position: absolute;
      right: 20px;
      top: 50px;
    }
    
    header .context-box:before {
    	content: "";
    	display: block; /* reduce the damage in FF3.0 */
    	position: absolute;
    	width: 0;
    	height: 0;
    	border-style: solid;
    	border-color: white transparent;
      border-width: 0 5px 5px; /* vary these values to change the angle of the vertex */
      top: -5px;
    	left: 50%;
    }
    
    header .context-box.sign-in:before {
      left: 250px;
    }
    
    header .context-box .error {
      background-color: #fbe5b9;
      color: #a48b5e;
      padding: 7px 9px;
      margin-bottom: 10px;
      font-weight: 500;
      text-shadow: none;
    }
    
    header .context-box label {
      float: left;
      clear: both;  
      width: 80px;
      padding: 7px 0;
    }
    
    header .context-box input {
      margin-bottom: 6px;
      width: 216px;
    }
    header .context-box input:last-of-type {
      margin-bottom: 0;
    }
    
    header #site-address {
      text-align: right;
      padding-right: 110px;
      width: 112px;
    }
    
    header .context-box.custom-domain .hint {
      display: none;
    }  
    
    header .context-box.custom-domain #site-address {
      text-align: left;
      padding-right: 6px;
      width: 216px;
    }  
    
    header .context-box label.hint {
      float: none;
      position: absolute;
      right: 30px;
    }
    
    header .context-box button.primary {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }
    
      .ie header .context-box button.primary {
        bottom: 22px;
      }
    
      header .context-box button.primary:active {
        top: auto;
      }
  
section#body {
}

  #body h1 {
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  
  #body .back {
    float: right;
    margin-top: -35px;
    margin-right: 25px;
    font-weight: bold;
    background: url(../img/back.png) no-repeat left center;
    padding-left: 19px;
    -webkit-font-smoothing: antialiased;
  }
  
    #body .back a {
      color: #9d9d9d;
    }
  
  #body h2 {
    font-size: 14.5px;
    color: #1c2a48;
  }
  
  #body .page {
    border: solid 1px #e4e4e4;
    height: 55px;
    background: #f0f0f0 url(../img/gloss.png) repeat-x;
    box-shadow: inset 0 1px 2px #ffffff;
    -webkit-box-shadow: 
      inset 0 1px 2px rgba(255,255,255,1),
      inset 0 -1px 2px rgba(255,255,255,.5)
    ;
    -moz-box-shadow: 
      inset 0 1px 2px rgba(255,255,255,1),
      inset 0 -1px 2px rgba(255,255,255,.5)
    ;
    box-shadow: 
      inset 0 1px 2px rgba(255,255,255,1),
      inset 0 -1px 2px rgba(255,255,255,.5)
    ;
    -webkit-transition: background-color .5s ease, border-color .8s ease;
    -moz-transition: background-color .5s ease, border-color .8s ease;
    transition: background-color .5s ease, border-color .8s ease;
    position: relative;
    padding: 8px 25px;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    margin-bottom: -1px;
  }
  
    #body .page:hover {
      background-color: #c8d7e5;
      border-color: #d4e0e7;
      -webkit-transition-duration: .1s;
      z-index: 5;
      cursor: pointer;
    }
    #body .page.selected, #body .page:active {
      background-color: #a7bfd6;
      border-color: #b7ccd7;
      -webkit-transition-duration: .1s;
      z-index: 5;
    }
  
    #body .page figure {
      width: 87px;
      height: 54px;
      overflow: hidden;
      background-color: #c4cde0;
      position: relative;
      border-top: solid 1px rgba(255,255,255,.65);
      -webkit-box-shadow: 0 1px 1px rgba(255,255,255,.7);
      -moz-box-shadow: 0 1px 1px rgba(255,255,255,.7);
      box-shadow: 0 1px 1px rgba(255,255,255,.7);
      float: left;
      margin-right: 16px;
    }
      #body .page figure:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%; height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        border: solid 1px rgba(0,0,0,.08);
        -webkit-box-shadow:
          inset 0 1px 0 rgba(0,0,0,.03)
        ;
        -moz-box-shadow:
          inset 0 1px 0 rgba(0,0,0,.03)
        ;
        box-shadow:
          inset 0 1px 0 rgba(0,0,0,.03)
        ;
      }
      
    #body .page h2 {
      margin-top: 8px;
      margin-bottom: 5px;
    }
    
    #body .page p {
      color: #9d9d9d;
    }
    
    #body .page.arrowed:before {
      content: "";
      display: block; /* reduce the damage in FF3.0 */
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #d3dfeb transparent;
      border-width: 10px 10px 0; /* vary these values to change the angle of the vertex */
      bottom: -9px;
      left: 50%;
      margin-left: -10px;
      z-index: 20;
    }
    #body .page.arrowed:after {
      content: "";
      display: block; /* reduce the damage in FF3.0 */
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #a7c0ce transparent;
      border-width: 10px 10px 0; /* vary these values to change the angle of the vertex */
      bottom: -10px;
      left: 50%;
      margin-left: -10px;
      z-index: 19;
    }
    
  #body .prefs {
    position: absolute;
    top: 208px;
    width: 100%;
  }
  
  #body .pref {
    border: solid 1px #cdcdcd;
    background-color: #ededed;
    background-image: -moz-linear-gradient(270deg, 
          rgba(255,255,255,.4) 20%,
          rgba(255,255,255,0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom,
      color-stop(.2, rgba(255,255,255,.4)),
      color-stop(1, rgba(255,255,255,0))
    );
    -webkit-box-shadow: 
      inset 0 1px 1px rgba(255,255,255,.65),
      inset 0 -1px 1px rgba(255,255,255,.65)
    ;
    -moz-box-shadow: 
      inset 0 1px 1px rgba(255,255,255,.65),
      inset 0 -1px 1px rgba(255,255,255,.65)
    ;
    box-shadow: 
      inset 0 1px 1px rgba(255,255,255,.65),
      inset 0 -1px 1px rgba(255,255,255,.65)
    ;
    padding: 30px 25px;
    margin-bottom: -1px;
    position: relative;
  }
  
  #body .pref.arrowed:before {
    content: "";
    display: block; /* reduce the damage in FF3.0 */
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #ededed transparent;
    border-width: 10px 10px 0; /* vary these values to change the angle of the vertex */
    bottom: -9px;
    left: 50%;
    margin-left: -10px;
    z-index: 20;
  }
  #body .pref.arrowed:after {
    content: "";
    display: block; /* reduce the damage in FF3.0 */
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #cdcdcd transparent;
    border-width: 10px 10px 0; /* vary these values to change the angle of the vertex */
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 19;
  }
  
  #body .pref label {
    color: #a2a2a2;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    display: inline-block;
    zoom: 1;
    *display: inline;
    min-width: 200px;
    width: 25%;
  }
  
  #body .pref.save {
    text-align: center;
  }
  
    #body .pref.save button {
      display: inline-block;
      zoom: 1;
      *display: inline;
      font-size: 12.5px;
    }
    
  #body .pref .clients {
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding-right: 30px;
    position: relative;
  }
  
    #body .pref .clients:before {
      content: "";
      display: block; /* reduce the damage in FF3.0 */
      position: absolute;
      width: 0;
      height: 0;
      border-width: 2px 4px;
      border-style: solid;
      border-color: transparent;
      border-left-color: #ccc;
      top: 35%;
      right: 6px;
      margin-top: -1px;
      z-index: 19;
    }
  
  #body .pref select {
    display: inline-block;
  }
  
  #body .pref .selector {
    color: #434343;
    margin-bottom: 10px;
  }
  
  #body .pref input[type=checkbox] {
    position: relative;
    top: -2px;
  }
  
  #body .pref fieldset {
    display: inline-block;
    width: 45%;
  }
  
  #body .pref label.checkbox-adjacent {
    float: none;
    text-align: left;
    min-width: 0;
    font-weight: normal;
    color: #434343;
    margin-left: 10px;
    width: 80%;
    margin-top: 5px;
  }
  
  #body .pref label {
        vertical-align: top;
        margin-top: 4px;
  }
  
  #body .pref .wrapper {
    display: inline-block;
    width: 48%;
    margin-bottom: -10px;
  }
  
